apiVersion: apps/v1
kind: Deployment
metadata:
  name: ac-fend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ac-fend
  template:
    metadata:
      labels:
        app: ac-fend
    spec:
      containers:
      - name: ac-fend
        image: "guilhemsante/forward-frontweb"
        ports:
        - name: http
          containerPort: 8080